* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#categories{
  list-style: none;
}

h2 {
  margin-left: 40px;
}

.item {
  background-color: #f6f6fe;
  width: 400px;
  border: none;
}

#categories ul li {
  margin-bottom: 5px;
  padding: 5px;
}

#categories .item {
  margin-bottom: 25px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
}

#categories ul li {
  margin-bottom: 5px;
}

li {
  list-style: none;
  border: 1px solid black;
  width: 300px;
  column-gap: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery li {
  flex: calc(33% - 10px);
  border: none;
}

.gallery img {
  width: 100%;
  height: 100%;
}

#name-input {
  width: 200px;
}

input {
  padding-left: 5px;
}

button {
  background-color: #f6f6fe;
  border-radius: 7px;
}
