.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 50px;
    margin-top: 40px;
}

.gallery-image {
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 250px;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.03);
    }
}

.gallery-item {
    flex-basis: calc(33.3% - 10px);
}